.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
gamus_dataset/GAMUS/
Depth_Wizard/Depth-Anything-V2/checkpoints/depth_anything_v2_vits.pth
gamus_finetune/runs/
runs/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
